<%= window_squad %>

<%- include('./window_head', {window_head: ''}) %>  
<%- include('./window_aside_bottom', {window_a_b: ''}) %> 

<section class="window_content">

    <a href="/">Back</a>

    <h2><%= name %></h2>
    
    <p>Squad: <%#= squad_id %> </p>
    

</section>